/*****************************************************************
    **
    **  Task - 7 /Style.css
    **  24.03 - aprox - 4-7 hours.
    **
*****************************************************************/
body {
    margin: 0 auto;
    padding: 0;

    font-family: 'Varela round', sans-serif;
    color: white;
    background-color: grey;
    font-size: 16px;
}

body a {
    text-decoration: none;
}

/******************************************************************
                    Main wrapper.
******************************************************************/
#wrapper {
    margin: 0 auto;
}

.main {
    margin: 0;
}
/******************************************************************
                    Header Background.
******************************************************************/
.bg {
    height: 746px;
    background: url('../images/header.png') no-repeat center center fixed;
    /*background: url('../images/background2.jpg') no-repeat center center fixed;*/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header nav {
    /*width: 960px;*/
    margin: 0 auto 200px;
}
/******************************************************************
                    Menu.
******************************************************************/
.menu {
    margin: 0 auto;
    padding: 40px 0 0 0;
    text-align: center;
}

.menu li {
    margin: 0 auto;
    list-style-type: none;
    display: inline-block;
}

.menu li a {
    margin: 0 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.menu li a:hover {
    opacity: 0.6;
}

/******************************************************************
                    paff.
******************************************************************/
.paff {
    margin: 0 auto;
    position: relative;
    max-width: 730px;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 160px;
    overflow: hidden;
}

.paff h1 {
    margin: 0 auto 10px;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
}

.paff p {
    color: #fff;
    margin-bottom: 24px;
}
/******************************************************************
                    Buttons.
******************************************************************/
.button {
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
    vertical-align: middle;
    border-radius: 4px;
    font-size: 12px;
    /*border: 1px solid red;*/
}

.button:hover {
    opacity: 0.8;
}

.btn-green {
    background-color: #16a085;
    letter-spacing: 4px;
}

.btn-app {
    /*width: 168px;*/
    padding: 18px 30px;
    /*text-align: center;*/
    /*display: inline-block;*/
}
/******************************************************************
                    Social icons.
******************************************************************/
.social {
    /*margin: 0 auto;*/
    display: block;
    width: 200px;
    text-align: center;
    /*border: 1px solid red;*/
    position: relative;
    bottom: 0px;
    left: 50%;
    margin-left: -100px;
}

.social-icons {
    margin: 0 auto;
    display: inline-block;
    margin-right: 10px;
}

.social-img {
    height: 22px;
    width: 24px;
    background-image: url('../images/socials.png');
}

.twitter {
    background-position: -2px 1px;
}

.flickr {
    background-position: 23px 1px;
}

.dribbbel {
    background-position: 62px 1px;
}

.social-icons:hover {
    opacity: 0.6;
}
/******************************************************************
                    Main.
******************************************************************/
#main {
    /*height: 492px;*/
    background-color: #f5f6f7;
    background: #f5f6f7 url('../images/iphone.png') no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-size: 70% 100%;
    background-position: 40% 0px;

    padding: 60px 0;
}

#main .textbox {
    max-width: 500px;
    /*padding: 100px 100px;*/
    /*padding-top: 80px;*/
}

#main .title {
    color: #16a085;
    font-size: 26px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#main .lorem {
    color: #373737;
    text-align: left;
    max-width: 396px;
    padding-bottom: 20px;
}

.bold {
    font-weight: bold;
}
/******************************************************************
                    Design.
******************************************************************/
#design {
    height: 558px;
    background-color: #ffffff;
    background-image: url('../images/iphone_photo.jpg');

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
}

#design .box_right {
    /*position: absolute;*/
    /*float: right;*/
    /*top: 130px;*/
    /*right: 10%;*/
    /*right: 5%;*/
    /*max-width: 480px;*/
}

#design .content:last-child {
    margin-top: 80px;
}

#design .box_right .title {
    color: #16a085;
    font-size: 26px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

#design .lorem {
    color: #373737;
    text-align: left;
    max-width: 425px;
    padding-bottom: 20px;
    letter-spacing: 3px;
}

#design .arrow_box {
    margin: 40px 0;
    color: #000000;
}

#design .nums {
    display: block;
}

#design .arrows {
    width: 24px;
    height: 24px;
    display: inline-block;
}

#design .arrows_right {
    background-image: url('../images/slider_buttons.png');
    background-position: -4px 0;
}
#design .arrows_left {
    background-image: url('../images/slider_buttons.png');
    background-position: 28px 0;
}

/******************************************************************
                    Slider.
******************************************************************/
#slider {
    /*height: 484px;*/
    background-color: #f5f6f7;
    position: relative;
    padding: 100px;
}

#slider .community {
    margin: 60px 0 0px 0px;
    float: left;
    height: 244px;
    max-width: 350px;
    color: #373737;
    text-align: center;
}

#slider .community img {
    display: block;
    margin: 20px auto;
}

#slider .community .title {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#slider .arrow_box {
    /*position: absolute;*/
    float: right;
    /*right: 130px;*/
    /*top: 80px;*/
}

#slider .arrow_box .arrows {
    width: 24px;
    height: 24px;
    display: inline-block;
}

#slider .arrows_right {
    background-image: url('../images/slider_buttons.png');
    background-position: -4px 0;
}

#slider .arrows_left {
    background-image: url('../images/slider_buttons.png');
    background-position: 28px 0;
}

#slider .slider_img {
    position: relative;
    /*float: right;*/
    /*right: 130px;*/
    /*top: 120px;*/
    right: 0px;
    /*top: 29px;*/
}

#slider .slider_img img {
    /*padding-left: 25px;*/
}

.arrow_box_push {
    margin-top: 29px;
}
/******************************************************************
                    Subscribe.
******************************************************************/
#subscribe {
    margin: 0 auto;
    /*height: 790px;*/
    height: 600px;
    background: url('../images/iphone_form.jpg') no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
}

#subscribe .subscribe_box {
    /*width: 480px;*/
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    /*half of the element*/
    margin-left: -240px;
    /*border: 1px solid red;*/
}

#subscribe .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#subscribe .subscribe_form {
    width: 280px;
    margin: 0 auto;
    color: #373737;
}

#subscribe .subscribe_form input[type="text"] {
    padding: 13px 14px;
    text-transform: uppercase;
    border: none;
    float: left;
    border-radius: 3px 0 0 3px;
}

#subscribe .subscribe_form input[type="submit"] {
    display: inline-block;
    border: none;
    width: 46px;
    height: 46px;
    background: url('../images/button_check.png') no-repeat;
    background-position: 6px 6px;
    background-color: #16a085;
    float: left;
    border-radius: 0 3px 3px 0;
}

/******************************************************************
                    Download.
******************************************************************/
#download {
    /*height: 396px;*/
    background-color: #f5f6f7;
    color: #373737;
    padding: 90px 210px 50px 210px;
    text-align: center;
    /* off height add padding*/
    padding-bottom: 90px;
}

#download h1 {
    font-size: 22px;
    text-transform: uppercase;
}

#download p {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: 'Candara';
}

/****************************************
    !we no longer need this case.
****************************************/
.btn-dl2 {
    margin-right: 26px;
    background-color: #1abc9c;
    background-color: #16a085;
    padding-left: 10px;
}

.btn-dl2.android::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
    border-radius: 0 4px 4px 0;
    background-image: url('../images/android-icon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    display: block;
    float: right;
    right: 0;
    margin-left: 10px;
}

.btn-dl2.apple::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
    border-radius: 0 4px 4px 0;
    background-image: url('../images/apple-icon.png');
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: block;
    float: right;
    right: 0;
    margin-left: 10px;
}

/*****************************************
    we overwrite default class btn-app
    so we can add our icons hard way. XD
******************************************/
#download .btn-app {
    padding: 0;
    padding-left: 32px;
    text-align: left;
    display: inline-block;
    margin: 2px;
}

.btn-dl {
    background-color: #1abc9c;
    padding: 17px 26px;
    border-radius: 0 4px 4px 0;
    position: relative;
    margin-left: 30px;
}

.btn-dl.android {
    background-image: url('../images/android-icon.png');
    background-position: 13px 12px;
    background-repeat: no-repeat;
}

.btn-dl.apple {
    background-image: url('../images/apple-icon.png');
    background-position: 16px 14px;
    background-repeat: no-repeat;
}

/******************************************************************
                    Footer.
******************************************************************/
#footer {
    /*height: 132px;*/
    margin: 0 auto;
    background-color: #ffffff;
    color: #000000;
    /*off height add padding*/
    padding: 60px 0;
    position: relative;
}

#footer .foo {
    /*margin-top: 20px;*/
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#footer ul {
    margin: 0 auto;
    /*width: 78%;*/
    position: relative;
}
#footer ul li {
    display: inline-block;
}
#footer ul li a {
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 10px;
    color: #000000;
    /*border-right: 1px solid #1abc9c;*/
    padding-left: 10px;
}

#footer ul li a:first-child {
    padding: 0;
}

#footer li:nth-child(3) a {
    border: none;
}

#footer p {
    /*top: 20px;*/
    /*left: 40px;*/
    /*position: absolute;*/
    font-weight: bold;
}

#footer .fotimg {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0px;
}

#footer span {
    color: #1abc9c;
    font-weight: normal;
}

/******************************************************************
                    Mobile fixes.
******************************************************************/
@media only screen and (max-width: 768px) {

    .paff {
        margin-bottom: 80px;
    }

    #design {
        background: none;
        background-color: #fff;
    }

    #main {
        height: auto;
        background-size: auto;
    }

    #main .textbox {
        padding: 50px 20px;
    }

    #design .box_right {
        padding: 50px 20px;
    }

    #design .content:last-child {
        margin-top: 0;
    }

    #slider {
        padding: 0;
    }

    #download {
        padding: 20px;
    }

}

@media only screen and (max-width: 420px) {

    #subscribe .subscribe_box {
        margin-left: 0;
        left: 0;
        clear: both;
    }

    #download .btn-app {
        padding-left: 10px;
    }

    .slider_img img {
        max-width: 320px;
    }

    #footer {
        padding: 30px 20px 15px 20px;
    }

    .foo {
        margin: 0;
        padding: 0;
    }

    #footer ul {
        width: 99%;
    }

    #footer .fotimg {
        top: 20px;
    }

    #footer p {
        width: 70%;
    }

    .menu {
        padding: 2px;
    }

    .menu li {
        display: block;
    }

    .menu .mlink {
        margin: 0;
        float: left;
        display: inline-block;
        width: 100%;
    }

}

/******************************************************************
                    End.
******************************************************************/